.App {
  text-align: center;
  background: #282c34;
}

.App-header {
  background-color: #596172;
  color: white;
  height: 40px;
}

.App-link {
  color: #61dafb;
}

button.active {
  font-weight: bold;
}

.filter-cat {
  display: flex;
}
.filter-cat label {
  width: 150px;
}

.units-list {
  display: flex;
  flex-wrap: wrap;
}
.unit {
  width: 200px;
  margin: 5px;
  background: #a69be2;
  padding: 5px;
  display: flex;
}
.unit img {
  margin-right: 10px;
}
